@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: clamp(1.5rem, 4vh, 5rem) auto auto;
  padding: 0 1rem;
  max-width: 70rem;
  font-family: 'Inter', sans-serif;
}

p {
  font-size: 15px;
}

.header {
  display: flex;
  margin-bottom: clamp(2rem, 5vh, 3.5rem);
}

.header__logo {
  margin: auto auto auto 0;
}

.header__menu {
  margin: auto 0 auto auto
}

.header__nav ul {
  margin-top: 0;
  margin-bottom: 0;
}

.header__nav li {
  list-style: none;
}

.header__nav a {
  text-decoration: none;
  color: var(--Very-dark-blue);
}

.article__image {
  width: 100%;
}

.article h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--Very-dark-blue);
}

.article p {
  line-height: 1.5rem;
  color: var(--Dark-grayish-blue);
}

.article button {
  width: 11.5rem;
  height: 3rem;
  border: none;
  background-color: var(--Soft-red);
  color: var(--Off-white);
  letter-spacing: .25rem;
  text-transform: uppercase
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width:600px) {
  .logo {
    display: flex;
    width: 100%;
  }

  .header__nav.header__nav--opened {
    display: block;
  }

  .header__nav {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background-color: var(--Off-white);
    text-align: right;
    max-width: 16rem;
    width: 100%;
  }

  .header__close {
    margin: clamp(1.5rem, 4vh, 5rem) 1rem 5.5rem;
  }

  .header__nav ul {
    padding: 0;
    margin-left: 1.5rem;
  }

  .header__nav li {
    margin-bottom: 2rem;
    text-align: left;
  }

  .article__image {
    content: url(assets/images/image-web-3-mobile.jpg);
  }
}

@media (min-width:600px) {

  .header__menu,
  .header__close {
    display: none;
  }

  .header__nav {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .header__nav ul {
    display: flex;
  }

  .header__nav li {
    margin-left: 2.5rem;
  }

  .main {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .article {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
  }

  .article>* {
    margin: auto;
  }

  .article__image {
    grid-column: span 2;
  }

  .article h1 {
    font-size: 3.5rem;
  }

  .section {
    grid-column: span 3;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

}